.buttons button {
    border: none;
    width: 150px; 
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #71b6fd
}

.select {
    background-color: rgb(244, 244, 244);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.select:hover {
    background-color: #71b6fd;
}

tr, td {
    border: 1px solid black;
}

td {
    height: 50px;
    width: 50px;
    background-color: white;
}